<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="folderchat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <folderchat.Properties.Settings>
            <setting name="OpenAI_BaseUrl" serializeAs="String">
                <value>http://localhost:1234</value>
            </setting>
            <setting name="OpenAI_ApiKey" serializeAs="String">
                <value>abc</value>
            </setting>
            <setting name="Chat_FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="UI_Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Embedding_Url" serializeAs="String">
                <value>http://localhost:1234/v1</value>
            </setting>
            <setting name="Embedding_Model" serializeAs="String">
                <value>text-embedding-embeddinggemma-300m</value>
            </setting>
            <setting name="Embedding_EncodingFormat" serializeAs="String">
                <value>float</value>
            </setting>
            <setting name="Embedding_Dimensions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FolderTree_State" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAI_ModelList" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAI_SelectedModel" serializeAs="String">
                <value />
            </setting>
            <setting name="RAG_ContextLength" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="RAG_ChunkSize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RAG_ChunkOverlap" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UseNativeEmbedding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="API_Provider" serializeAs="String">
                <value>OpenAI Compatible</value>
            </setting>
            <setting name="ClaudeCode_CLIPath" serializeAs="String">
                <value>claude</value>
            </setting>
            <setting name="ClaudeCode_Model" serializeAs="String">
                <value>sonnet</value>
            </setting>
            <setting name="RAG_TopKChunks" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RAG_MaxContextLength" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="MCP_Servers" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="EmbeddingMethod" serializeAs="String">
                <value>API</value>
            </setting>
            <setting name="EmbeddingGGUFModel" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatMethod" serializeAs="String">
                <value>API</value>
            </setting>
            <setting name="ChatGGUFModel" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAI_ProviderName" serializeAs="String">
                <value>Azure AI Foundry</value>
            </setting>
            <setting name="AzureAI_ApiUrl" serializeAs="String">
                <value>https://YOUR_RESOURCE_NAME.openai.azure.com</value>
            </setting>
            <setting name="AzureAI_ApiVersion" serializeAs="String">
                <value>2025-01-01-preview</value>
            </setting>
            <setting name="AzureAI_ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAI_ModelList" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAI_SelectedModel" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRouter_ApiUrl" serializeAs="String">
                <value>https://openrouter.ai/api/v1</value>
            </setting>
            <setting name="OpenRouter_ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRouter_ModelList" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRouter_SelectedModel" serializeAs="String">
                <value />
            </setting>
            <setting name="Ollama_ApiUrl" serializeAs="String">
                <value>http://localhost:11434</value>
            </setting>
            <setting name="Ollama_ModelList" serializeAs="String">
                <value />
            </setting>
            <setting name="Ollama_SelectedModel" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIAPI_ApiUrl" serializeAs="String">
                <value>https://api.openai.com/v1</value>
            </setting>
            <setting name="OpenAIAPI_ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIAPI_ModelList" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIAPI_SelectedModel" serializeAs="String">
                <value />
            </setting>
            <setting name="Gemini_ApiUrl" serializeAs="String">
                <value>https://generativelanguage.googleapis.com/v1beta</value>
            </setting>
            <setting name="Gemini_ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Gemini_ModelList" serializeAs="String">
                <value />
            </setting>
            <setting name="Gemini_SelectedModel" serializeAs="String">
                <value />
            </setting>
            <setting name="UseRAG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClaudeCode_SupportsSystemRole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AzureAI_SupportsSystemRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenRouter_SupportsSystemRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ollama_SupportsSystemRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenAIAPI_SupportsSystemRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gemini_SupportsSystemRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenAI_SupportsSystemRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Claude_ApiUrl" serializeAs="String">
                <value>https://api.anthropic.com/v1</value>
            </setting>
            <setting name="Claude_ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Claude_ModelList" serializeAs="String">
                <value />
            </setting>
            <setting name="Claude_SelectedModel" serializeAs="String">
                <value />
            </setting>
            <setting name="Claude_SupportsSystemRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAPIServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIServerPort" serializeAs="String">
                <value>11550</value>
            </setting>
            <setting name="MCP_MaxToolIterations" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VoiceInputMode" serializeAs="String">
                <value>Disabled</value>
            </setting>
        </folderchat.Properties.Settings>
    </userSettings>
</configuration>